<!DOCTYPE html>
<html>
  <head>
      <title>LacerMarket</title>
      <%= csrf_meta_tags %>
http://localhost:3000/#
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>

      <%= render "layouts/header" %>

      <div class="container">
        <%flash.each do |type, message| %>
        <script>
          M.toast({html:'<%= message %>'})
        </script>
        <% end %>
      </div>

      <%= render "pages/slider" if action_name == 'home' %>

       <main class="container">
           <%= yield %>
       </main>

      <%= render "layouts/footer" %>
      
  </body>

      <script>
      $(document).ready(function(){
      $('.sidenav').sidenav();
      $('.dropdown-trigger').dropdown();
      });
      </script>


      <script>
        $(document).ready(function(){
        $('.parallax').parallax();
        });
      </script>

      <script>
        $(document).ready(function(){
        $('ul.tabs').tabs();
        });
      </script>

      
</html>
