<!DOCTYPE html>
<html>
  <head>
      <title>LacerMarket</title>
      <%= csrf_meta_tags %>
http://localhost:3000/#
     <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

      <%= render "layouts/header" %>

      <div class="container">
        <%flash.each do |type, message| %>
        <script>
          M.toast({html:'<%= message %>'})
        </script>
        <% end %>
      </div>

      <%= render "pages/slider" %>

       <main class="container">
           <%= yield %>
       </main>

      <%= render "layouts/footer" %>
      
  </body>

      <script >
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.sidenav');
          var instances = M.Sidenav.init(elems, options);
          });

        $(document).ready(function(){
        $('.parallax').parallax();
          });
        
      </script>

</html>
